<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
		<!-- nav bar -->
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1>name</h1>
				</li>
				 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li class="has-dropdown">
						<a href="#">apps</a>
						<ul class="dropdown">
							<li><a href="#">lifting log</a></li>
							<li><a href="#">sms sync</a></li>
							<li><a href="#">wimbl</a></li>
						</ul>
					</li>
					<li class="has-dropdown">
						<a href="#">code</a>
						<ul class="dropdown">
							<li><a href="#">form validator</a></li>
							<li><a href="#">js graphs</a></li>
						</ul>
					</li>
				</ul>
			</section>
		</nav>
		
		
		<div class="row page">
    	<%= yield %>
		</div><!-- end page div -->
  </body>
</html>
